{% extends 'layout/base.html' %}

{% block title %}Liên hệ{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"/>
{% endblock %}

{% block content %}

<div class="container contact-form">
    <div class="contact-image">
        <img src="https://res.cloudinary.com/dfzvtpwsd/image/upload/v1670168073/rocket_contact_nfstsp.png" alt="rocket_contact"/>
    </div>
    <form>
        <h2>Liên hệ</h2>
        <p class="text-center w-responsive mx-auto mb-3">Bạn có câu hỏi nào không? Xin đừng ngần ngại liên hệ trực tiếp
            với chúng tôi. Nhóm của chúng tôi sẽ quay lại với bạn trong vòng vài giờ để giúp bạn.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Nhập tên *" value=""/>
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Nhập Email *" value=""/>
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Nhập số điện thoại *" value=""/>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Nhập nội dung *"
                              style="width: 100%; height: 130px;"></textarea>
                </div>
            </div>
            <div style="width:35%; margin: 1.5rem auto 0">
                <input type="submit" name="btnSubmit" class="btnContact" value="Gửi" />
            </div>
        </div>
    </form>
</div>

{% endblock %}
