{% extends 'layout/base.html' %}

{% block title %}Chi tiết chuyến bay{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/pay.js') }}"></script>
{% endblock %}
{% block content %}

<div class="container contact-form" style="width:100%">
    <div class="contact-image">
        <img src="https://res.cloudinary.com/dfzvtpwsd/image/upload/v1670168073/rocket_contact_nfstsp.png"
             alt="rocket_contact"/>
    </div>
    <div style="margin-top: 15%">
        <h2>Đặt chuyến bay</h2>
        {% if fl %}
        <form action="{{ url_for('pay')}}" style="padding:1rem">
            <table class="tableStyle">
                <tr>
                    <td class="col-md-5">Mã chuyến bay</td>
                    <td class="col-md-7">{{fl.id}}</td>
                </tr>
                <tr>
                    <td class="col-md-5">Hãng máy bay</td>
                    {% for airline in airlines %}
                    {% if airline.id == fl.hangmaybay_ma %}
                    <td class="col-md-7">{{ airline.ten }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="col-md-5">Thời gian bay</td>
                    <td class="col-md-7">{{fl.thoigianbay}} phút</td>
                </tr>
                <tr>
                    <td class="col-md-5">Thời gian cất cánh</td>
                    <td class="col-md-7">{{fl.giodi.strftime("%H:%M:%S %d/%m/%Y")}}</td>
                </tr>
                <tr>
                    <td class="col-md-5">Tuyến bay</td>
                    <td class="col-md-7">{{a1.ten}} &#10145 {{a2.ten}}</td>
                </tr>
                <tr>
                    <td class="col-md-5">Giá vé</td>
                    <td class="col-md-7">
                        {% for bdg in bdgs %}
                        {% for hv in hvs %}
                        {% if bdg.hangve_ma == hv.id %}
                        <input type="radio" id="{{bdg.id}}" name="bangdongia" value="{{bdg.id}}" checked>
                        <label for="{{bdg.id}}">{{hv.ten}}: {{ "{:,.1f}".format(bdg.gia)}}VNĐ</label><br>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="col-md-5">Thời gian dừng</td>
                    <td class="col-md-7">
                        <ol>
                            {% for sbd in sbds %}
                            {% if sbd.chuyenbay_ma == fl.id %}
                            {% for sb in sbs %}
                            {% if sb.id == sbd.sanbay_ma %}
                            <li>{{sb.ten}}: {{sbd.thoigiandung}} phút</li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            </table>
            {% if current_user.is_authenticated %}
            <div class="form-floating mb-3 mt-3 col-md-8" style="margin:auto">
                <span class="form-label">Tên hành khách *</span>
                <input type="text" name="tenhanhkhach" class="form-control" value="" required=""/>
            </div>
            <div class="form-floating mt-3 mb-3 col-md-8 justify-content-center" style="margin:auto">
                <span class="form-label">Cccd *</span>
                <input type="text" name="cccd" class="form-control" value="" required=""/>
            </div>
            <div class="form-floating mt-3 mb-3" style="margin:auto; width:10%">
                <input type="submit" class="btn btn-danger" value="Thanh toán">
            </div>
            {% else %}
            <p>Vui lòng <a href="/login?next=/flight-details?flight_id={{fl.id}}">đăng nhập</a> để xem đặt chuyến bay!</p>
            {% endif %}
        </form>
        {% else %}
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show container mt-3">
            <i class="bi-exclamation-octagon-fill"></i>
            <strong class="mx-2">Error!</strong> Không tìm thấy chuyến bay!!!
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
